<% provide(:title, "こども語録とは？") %>
<h1>こども語録とは？</h1>
<p>こども語録は、こどものおもしろ発言を投稿し共有するアプリケーションです。</p>
<p>自分の娘（2歳）のおもしろ発言をどこかに残しておきたい！という想いから、このアプリケーションを作りました。</p>
<p>赤ちゃんの喃語から10代の大人っぽい言葉まで、いつまでも忘れたくないこどものおもしろ発言を、ぜひ"こども語録"に残してください。</p>