<% provide(:title, "About") %>
<h1>About</h1>
<p>
  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  は、<a href="https://railstutorial.jp/#ebook">本</a> と
  <a href="https://railstutorial.jp/#screencast">動画</a>で
  <a href="http://rubyonrails.org/">Ruby on Rails</a>のWeb開発について学ぶことができます。
  このサンプルアプリケーションは、Rails Tutorialで作成したものです。
</p>