@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);


// mixins, variables, etc,

$gray-medium-light: #eaeaea;
$right-gray: #808080;
$dark-gray: #4c4c4c;
$salmon-pink: #f68655;
$dark-salmon-pink: #f76f33;
$yellow: #f6b352;


// universal

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


// button

.btn-post {
  text-align: center;
  margin: 30px 0;
}

.btn-login {
  text-align: center;
  margin: 50px 0 100px 0;
}

.btn {
  background-color: $salmon-pink;
  color: white;
  text-align: center;
  &:hover {
    background-color: $dark-salmon-pink;
    color: white;
  }
}

.btn-uniine, .btn-iine {
  background-color: white;
  border: solid 1px #b3b3b3;
  border-radius: 3px;
  &:hover {
    border: solid 1px $right-gray;
  }
}




// typography

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-family: "Rounded Mplus 1c";
  font-size: 3.5em;
  color: $dark-gray;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.home h1 {
  font-size: 4em;
  margin: 70px 0 40px 0;
}


// header

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  font-family: "Rounded Mplus 1c";
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar {
  background-color: $yellow;
}

#nav-list {
  color: white;
  &:hover {
    color: $dark-gray;
  }
}


// footer

footer {
  margin-top: 70px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $dark-gray;
  a {
    color: $dark-gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


// sidebar

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h2 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
    .twitter-ac {
      color: #1da1f2;
      margin-top: 10px;
    }
  }
}

.twitter_icon {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}


// microposts

.microposts {
  list-style: none;
  max-width: 600px;
  margin: 0 auto;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin: 10px 0 10px 60px;
    .child_age {
      font-size: 0.8em;
      color: $dark-salmon-pink;
      margin-left: 10px;
      display: inline;
    }
  }
  .picture {
    display: block;
    margin-left: 60px;
  }
  .timestamp {
    font-size: 0.8em;
    display: block;
    margin-left: 60px;
    color: $right-gray;
  }
  .twitter_icon {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
  .micropost-iine {
    display: block;
    margin-left: 60px;
    margin-top: 10px;
  }
  .micropost-delete {
    display: block;
    width: 50px;
    margin-left: auto;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}


// forms

.micropost_form {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin: 25px 0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
