<footer class="footer">
  <!--<small>-->
  <!--  こども語録 by sachi_180822-->
  <!--</small>-->
  <nav>
    <ul>
      <li><%= link_to "こども語録とは？", about_path %></li>
      <li><%= link_to "問い合わせ", contact_path %></li>
    </ul>
  </nav>
</footer>