<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to "こども語録", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム",   root_path, id: "nav-list" %></li>
        <li><%= link_to "ヘルプ",   help_path, id: "nav-list" %></li>
        <li><%= link_to "ログイン", '#', id: "nav-list" %></li>
      </ul>
    </nav>
  </div>
</header>